*{
    margin: 0px;
    padding: 0px;

}
/* Logo Font */
.Logo-font {
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 34px;
  color: #4E47FF;

  /* Primary-Font */
  .raleway-font {
  font-family: "Raleway";
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
}

/* Multiple Uses Property */
.btn-common{
    background-color: #4E47FF;
    color: #Fff;
    padding: 12px 36px;
    width: 132px;
    height: 48px;
    border-radius: 10px;
    text-shadow: none;
    border: none;
}
.btn-common:hover{
    cursor: pointer;
    background-color: black;
}

.bg-img{
    background-image: url(./Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.raleway{

    font-family: Raleway;
    font-weight: 400;
}

/* Nav style */
.Navbar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
    padding: 50px 0px;
}

.container{

    text-align: center;
    padding: 158px 0px 200px 0px;
    font-size: 65px;
    font-weight: bold;

}

.container-h2{

   font-family: Raleway;
   text-align: center;
}


.btn-common-2{
    width: 174px;
    height: 48px;
    background-color: #4E47FF;
    color: #Fff;
    padding: 12px 36px;
    border-radius: 10px;
    text-shadow: none;
    border: none;

}

.btn-common-2:hover{

    cursor: pointer;
    background-color: black;

}

/* Header Part Close   */

/* Action Section Start */

.Action{

    display: flex;
    justify-content: space-between;
    margin: 116px 159px 116px 141px;
    align-items: center;
}

.Action-contain{

    width: 517px;
    height: 203px;
}
.Action-contain h2{

    font-family: Raleway;
    font-size: 42px;
    font-weight: bold;
    padding-bottom: 23px;
}

.Action-contain p{

    font-size: 24px;
    line-height: 30px;
    opacity: 50%;
}

.Action-btn {

    background-color: #4E47FF;
    color: #Ffffff;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    margin-top: 23px;

}
.Action-btn:hover{

    background-color: black;
    cursor: pointer;
}

.Action img {

    border-radius: 48px;
    width: 403px;
    height: 328px;
    margin-left: auto;
}

.title{
    text-align: center;
    font-family: Raleway;
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    margin-bottom: 40px;
}

.Productive{

    margin: 0px 159px 137px 141px;
    background-color: #E4E6FF;
    padding: 50px 80px;
    border-radius: 24px;
    

}

    

.Productive-users{

    display: flex;
    justify-content: space-around;
    
    
}

.Stats{

    font-family: inter;
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;

}

.sub-stats {

    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    opacity: 50%;


}

/* Feedback Section Start  */

.feedback{


}

.feedback-title{
    font-family: Raleway;
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    padding-bottom: 50px;
}








.banner2{

    margin: 137px 149px 93px 151px;
    padding: 71px 150px;
    border: 1px solid black;
}






.banner2-container{

    text-align: center;

}

.banner2-title {

    font-family: Raleway;
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 20px;
}

.banner2-desc {
    font-family: Raleway;
    font-size: 15px;
    font-family: 400;
    opacity: 50%;
    color: black;
    padding-bottom: 20px;

}

.banner2-btn {

    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    background-color: #4E47FF;
    color: #Ffffff;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}
.banner2-btn:hover{

    cursor: pointer;
    background-color: black;
}